h1,h3{
  text-align: center;
  margin:0;
  
}
body
{
  margin: 0;
  padding: 0;
}
#loading{
  background: #000;
  position: fixed;
  width:100%;
  height:100%;
  z-index: 9999;
}
#loading img
{
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
}
#test_img,#origin_pic_show{
  border:5px #000 dotted;
  width:200px;
  height: 200px;
  margin:auto;
  position: relative;
}
#origin_pic_show{position:absolute;top:0;left:0;display: none;}
#test_img img,#origin_pic_show img{
  min-width: 150px;
  max-width: 200px;
  max-height:200px;
  display: block;
  margin:auto;
  position: absolute;
  left:0;right:0;bottom:0;top:0;
}
#pic_list
{
  position: absolute;
  top:0;
  left:0;
  width: 300px;
  height: 300px;
  background: #ccc;
  border:1px #000 solid;
  resize: both;
  overflow: auto;
}
#pic_list button{margin:0 auto 50px auto;display: block;}
#pic_list img
{
  height: 50px;
}
#origin_pic_show
{
  background: #b7d2ff;
}
#chat_area{overflow: auto;height: 300px;width:100%;}
#chat_area span{margin:0 0 0 20px;}
#name_after{display: none;}
#mychat_box
{
  border: 1px solid #000;
  width:500px;
  height: 450px;
  position: absolute;
  right: 20px;
  top: 20px;
  background:#fff;
  border-radius: 10px  10px 0 0;
  /*resize:both;*/
  /*overflow: auto;*/
  
}
#mychat_box img
{
  max-width: 200px;
}
#welcome_title{color: #fff;background:#333;border-radius: 10px  10px 0 0;}
#welcome_title:hover
{
  cursor:-webkit-grab;
}