h1,h3{
  text-align: center;
  margin:0;
  
}
body
{
  margin: 0;
  padding: 0;
}
#loading{
  background: #000;
  position: fixed;
  width:100%;
  height:100%;
  z-index: 9999;
}
#loading img
{
  display: block;
  position: absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  margin:auto;
}
#test_img,#origin_pic_show{
  border:5px #000 dotted;
  width:200px;
  height: 200px;
  margin:auto;
  position: relative;
}
#origin_pic_show{position:absolute;top:0;left:0;display: none;}
#test_img img,#origin_pic_show img{
  min-width: 150px;
  max-width: 200px;
  max-height:200px;
  display: block;
  margin:auto;
  position: absolute;
  left:0;right:0;bottom:0;top:0;
}
#pic_list
{
  position: absolute;
  top:0;
  left:0;
  width: 300px;
  height: 300px;
  background: #ccc;
  border:1px #000 solid;
  resize: both;
  overflow: auto;
}
#pic_list button{margin:0 auto 50px auto;display: block;}
#pic_list img
{
  height: 50px;
}
#origin_pic_show
{
  background: #b7d2ff;
}
#chat_area{overflow: auto;height: 300px;width:100%;}
#chat_area span.chat_name{margin:0 0 0 20px;}
#name_after{display: none;}
#mychat_box
{
  border: 1px solid #000;
  width:500px;
  height: 95%;
  position: absolute;
  right: 20px;
  top: 20px;
  background:#fff;
  border-radius: 10px  10px 0 0;
  /*resize:both;*/
  /*overflow: auto;*/
  
}
#mychat_box img
{
  max-width: 200px;
}
#welcome_title>h1{color: #fff;}
#welcome_title
{
  background:#333;border-radius: 10px  10px 0 0;
}
#welcome_title:hover
{
  cursor:-webkit-grab;
}
#welcome_title #setup_box /*設置欄位*/
{
  display: none;
  width: 300px;
  height: 300px;
  background: pink;
  position: absolute;
  right:20px;
  top:30px;
}
.content_zone /*對話框修飾*/
{
  background:#ccc;
  margin-left:70px;
  width:60%;
  word-break: break-all;
}
.icon_emotion{width:30px;height: 30px;}
#zoom_out /*縮小/放大聊天室視窗*/
{
  position: absolute;
  right:40px;
  top:0px;
  cursor: pointer;
}
#zoom_out:hover
{
  background: url("../../utility_img/zoom_out2.png");
}
#zoom_in
{
  position: absolute;
  right:10px;
  top:0;
  cursor: pointer
}
#zoom_in:hover
{
  background: url("../../utility_img/zoom_in2.png");
}
#setup /*設定齒輪按鈕*/
{
  position: absolute;
  right:5px;
  top:0;
  cursor:pointer;
}
#setup:hover
{
  background: url("../../utility_img/setup2.png");
}
#sign_out
{
  display:none;
}
#mychat_box_zo
{

  border: 1px solid #000;
  width:150px;
  height:30px;
  position: absolute;
  right: 0px;
  top: 0px;
  border-radius: 1px  1px 0 0;
  background:#333;
  display: none;
}
#input_area
{
  overflow:auto;
  width:200px;
  min-height:30px;
  max-height:80px;
  border:1px #000 solid;
  display: inline-block;
  margin:10px 0 0 10px
}